In [1]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder \
    .appName("MyPySparkAppInJupyter") \
    .getOrCreate()
print("SparkSession created successfully!")

SparkSession created successfully!

In [2]:
df=spark.read.format('parquet').load('F:/spark_output/my_first_parquet_data')

In [3]:
df.show()

+-------+---+--------+
|   Name|Age|    City|
+-------+---+--------+
|  Alice| 30|New York|
|  David| 29|   Tokyo|
|    Bob| 24|  London|
|Charlie| 35|   Paris|
|    Eve| 42|  Sydney|
|  Frank| 27|  Berlin|
+-------+---+--------+